<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.boot.web.todaywork.mapper.DoufuTodayWorkMapper">

	<!-- 表字段 -->
	<sql id="doufuTodayWorkColumns">
		PROJECT_GROUP_ID, PROJECT_ID, PRODUCT_ID, WORK_CONTENTS, WORK_DETAIL, FINISH_PERCENT,
		DELAY_REASON, ACCORD_YESTERDAY, IS_IMPORTANT, IS_EMERGENCY,
		IMPO_LEVEL, ID, DEL_FLAG, STATUS, INST_ID, LOGIN_IP, LOGIN_DATE,
		CREATE_BY, CREATE_DATE, UPDATE_BY,
		UPDATE_DATE, REMARKS
	</sql>

	<!-- 表字段（带别名） -->
	<sql id="doufuTodayWorkAliasColumns">
		t.PROJECT_GROUP_ID, t.PROJECT_ID, t.PRODUCT_ID, t.WORK_CONTENTS, t.WORK_DETAIL,
		t.FINISH_PERCENT, t.DELAY_REASON, t.ACCORD_YESTERDAY, t.IS_IMPORTANT,
		t.IS_EMERGENCY,
		t.IMPO_LEVEL, t.ID, t.DEL_FLAG, t.STATUS, t.INST_ID, t.LOGIN_IP, t.LOGIN_DATE,
		t.CREATE_BY, t.CREATE_DATE, t.UPDATE_BY,
		t.UPDATE_DATE, t.REMARKS
	</sql>


	<!-- 列表查询,返回的是通用实体，不受实体属性限制，相当于map -->
	<select id="queryPageInfo"
		resultType="com.boot.util.CommonEntity">
		select
		<include refid="doufuTodayWorkAliasColumns" />
		from doufu_today_work t
		<where>
			1=1
			<if test="@com.boot.util.Ognl@isNotBlank(projectGroupId)">and t.PROJECT_GROUP_ID = #{projectGroupId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(projectId)">and t.PROJECT_ID = #{projectId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(productId)">and t.PRODUCT_ID = #{productId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(workContents)">and t.WORK_CONTENTS = #{workContents} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(workDetail)">and t.WORK_DETAIL = #{workDetail} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(finishPercent)">and t.FINISH_PERCENT = #{finishPercent} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(delayReason)">and t.DELAY_REASON = #{delayReason} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(accordYesterday)">and t.ACCORD_YESTERDAY = #{accordYesterday} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(isImportant)">and t.IS_IMPORTANT = #{isImportant} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(isEmergency)">and t.IS_EMERGENCY = #{isEmergency} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(impoLevel)">and t.IMPO_LEVEL = #{impoLevel} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(id)">and t.ID = #{id} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(delFlag)">and t.DEL_FLAG = #{delFlag} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(status)">and t.STATUS = #{status} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(instId)">and t.INST_ID = #{instId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(loginIp)">and t.LOGIN_IP = #{loginIp} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(loginDate)">and t.LOGIN_DATE = #{loginDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(createBy)">and t.CREATE_BY = #{createBy} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(createDate)">and t.CREATE_DATE = #{createDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(updateBy)">and t.UPDATE_BY = #{updateBy} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(updateDate)">and t.UPDATE_DATE = #{updateDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(remarks)">and t.REMARKS = #{remarks} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(dynamicSQL)"> and ${dynamicSQL} </if>
		</where>
		<if
			test="@com.boot.util.Ognl@isNotBlank(sortC) and @com.boot.util.Ognl@isNotBlank(order)">
			ORDER BY t.${sortC} ${order}
		</if>
	</select>



	<!-- 列表查询,返回的是实体 -->
	<select id="entityList"
		resultType="com.boot.web.todaywork.model.DoufuTodayWork">
		select
		<include refid="doufuTodayWorkAliasColumns" />
		from doufu_today_work t
		<where>
			1=1
			<if test="@com.boot.util.Ognl@isNotBlank(projectGroupId)">and t.PROJECT_GROUP_ID = #{projectGroupId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(projectId)">and t.PROJECT_ID = #{projectId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(productId)">and t.PRODUCT_ID = #{productId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(workContents)">and t.WORK_CONTENTS = #{workContents} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(workDetail)">and t.WORK_DETAIL = #{workDetail} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(finishPercent)">and t.FINISH_PERCENT = #{finishPercent} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(delayReason)">and t.DELAY_REASON = #{delayReason} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(accordYesterday)">and t.ACCORD_YESTERDAY = #{accordYesterday} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(isImportant)">and t.IS_IMPORTANT = #{isImportant} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(isEmergency)">and t.IS_EMERGENCY = #{isEmergency} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(impoLevel)">and t.IMPO_LEVEL = #{impoLevel} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(id)">and t.ID = #{id} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(delFlag)">and t.DEL_FLAG = #{delFlag} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(status)">and t.STATUS = #{status} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(instId)">and t.INST_ID = #{instId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(loginIp)">and t.LOGIN_IP = #{loginIp} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(loginDate)">and t.LOGIN_DATE = #{loginDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(createBy)">and t.CREATE_BY = #{createBy} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(createDate)">and t.CREATE_DATE = #{createDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(updateBy)">and t.UPDATE_BY = #{updateBy} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(updateDate)">and t.UPDATE_DATE = #{updateDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(remarks)">and t.REMARKS = #{remarks} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(dynamicSQL)"> and ${dynamicSQL} </if>
		</where>
		<if
			test="@com.boot.util.Ognl@isNotBlank(sortC) and @com.boot.util.Ognl@isNotBlank(order)">
			ORDER BY t.${sortC} ${order}
		</if>
	</select>

	<!-- 查询单条数据,返回的是实体 -->
	<select id="queryOne"
		resultType="com.boot.web.todaywork.model.DoufuTodayWork">
		select
		<include refid="doufuTodayWorkAliasColumns" />
		from doufu_today_work t
		<where>
			1=1
			<if test="@com.boot.util.Ognl@isNotBlank(projectGroupId)"> and t.PROJECT_GROUP_ID = #{projectGroupId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(projectId)"> and t.PROJECT_ID = #{projectId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(productId)"> and t.PRODUCT_ID = #{productId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(workContents)"> and t.WORK_CONTENTS = #{workContents} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(workDetail)"> and t.WORK_DETAIL = #{workDetail} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(finishPercent)"> and t.FINISH_PERCENT = #{finishPercent} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(delayReason)"> and t.DELAY_REASON = #{delayReason} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(accordYesterday)"> and t.ACCORD_YESTERDAY = #{accordYesterday} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(isImportant)"> and t.IS_IMPORTANT = #{isImportant} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(isEmergency)"> and t.IS_EMERGENCY = #{isEmergency} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(impoLevel)"> and t.IMPO_LEVEL = #{impoLevel} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(id)"> and t.ID = #{id} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(delFlag)"> and t.DEL_FLAG = #{delFlag} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(status)"> and t.STATUS = #{status} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(instId)"> and t.INST_ID = #{instId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(loginIp)"> and t.LOGIN_IP = #{loginIp} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(loginDate)"> and t.LOGIN_DATE = #{loginDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(createBy)"> and t.CREATE_BY = #{createBy} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(createDate)"> and t.CREATE_DATE = #{createDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(updateBy)"> and t.UPDATE_BY = #{updateBy} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(updateDate)"> and t.UPDATE_DATE = #{updateDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(remarks)"> and t.REMARKS = #{remarks} </if>
		</where>
	</select>

	<!-- 查询单条数据,返回的是通用实体，不受实体属性限制，相当于map -->
	<select id="queryOneCommon"
		resultType="com.boot.util.CommonEntity">
		select
		<include refid="doufuTodayWorkAliasColumns" />
		from doufu_today_work t
		<where>
			1=1
			<if test="@com.boot.util.Ognl@isNotBlank(projectGroupId)">and t.PROJECT_GROUP_ID = #{projectGroupId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(projectId)">and t.PROJECT_ID = #{projectId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(productId)">and t.PRODUCT_ID = #{productId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(workContents)">and t.WORK_CONTENTS = #{workContents} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(workDetail)">and t.WORK_DETAIL = #{workDetail} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(finishPercent)">and t.FINISH_PERCENT = #{finishPercent} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(delayReason)">and t.DELAY_REASON = #{delayReason} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(accordYesterday)">and t.ACCORD_YESTERDAY = #{accordYesterday} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(isImportant)">and t.IS_IMPORTANT = #{isImportant} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(isEmergency)">and t.IS_EMERGENCY = #{isEmergency} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(impoLevel)">and t.IMPO_LEVEL = #{impoLevel} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(id)">and t.ID = #{id} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(delFlag)">and t.DEL_FLAG = #{delFlag} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(status)">and t.STATUS = #{status} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(instId)">and t.INST_ID = #{instId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(loginIp)">and t.LOGIN_IP = #{loginIp} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(loginDate)">and t.LOGIN_DATE = #{loginDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(createBy)">and t.CREATE_BY = #{createBy} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(createDate)">and t.CREATE_DATE = #{createDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(updateBy)">and t.UPDATE_BY = #{updateBy} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(updateDate)">and t.UPDATE_DATE = #{updateDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(remarks)">and t.REMARKS = #{remarks} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(dynamicSQL)"> and ${dynamicSQL} </if>
		</where>
	</select>

	<!-- 批量插入数据 -->
	<insert id="insertBatch">
		insert into doufu_today_work(
		<include refid="doufuTodayWorkColumns" />
		) values
		<foreach collection="list" item="item" separator=",">
			(
			#{item.projectGroupId},
			#{item.projectId},
			#{item.productId},
			#{item.workContents},
			#{item.workDetail},
			#{item.finishPercent},
			#{item.delayReason},
			#{item.accordYesterday},
			#{item.isImportant},
			#{item.isEmergency},
			#{item.impoLevel},
			#{item.id},
			#{item.delFlag},
			#{item.status},
			#{item.instId},
			#{item.loginIp},
			#{item.loginDate},
			#{item.createBy},
			#{item.createDate},
			#{item.updateBy},
			#{item.updateDate},
			#{item.remarks}
			)
		</foreach>
	</insert>

	<!-- 根据不同条件删除数据，条件可组合 -->
	<delete id="deleteByParams" parameterType="java.util.Map">
		delete from doufu_today_work
		<where>
			1=1
			<if test="@com.boot.util.Ognl@isNotBlank(projectGroupId)"> and PROJECT_GROUP_ID = #{projectGroupId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(projectId)"> and PROJECT_ID = #{projectId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(productId)"> and PRODUCT_ID = #{productId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(workContents)"> and WORK_CONTENTS = #{workContents} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(workDetail)"> and WORK_DETAIL = #{workDetail} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(finishPercent)"> and FINISH_PERCENT = #{finishPercent} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(delayReason)"> and DELAY_REASON = #{delayReason} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(accordYesterday)"> and ACCORD_YESTERDAY = #{accordYesterday} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(isImportant)"> and IS_IMPORTANT = #{isImportant} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(isEmergency)"> and IS_EMERGENCY = #{isEmergency} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(impoLevel)"> and IMPO_LEVEL = #{impoLevel} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(id)"> and ID = #{id} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(delFlag)"> and DEL_FLAG = #{delFlag} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(status)"> and STATUS = #{status} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(instId)"> and INST_ID = #{instId} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(loginIp)"> and LOGIN_IP = #{loginIp} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(loginDate)"> and LOGIN_DATE = #{loginDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(createBy)"> and CREATE_BY = #{createBy} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(createDate)"> and CREATE_DATE = #{createDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(updateBy)"> and UPDATE_BY = #{updateBy} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(updateDate)"> and UPDATE_DATE = #{updateDate} </if>
			<if test="@com.boot.util.Ognl@isNotBlank(remarks)"> and REMARKS = #{remarks} </if>
		</where>
	</delete>
	<!-- 修改父节点字符串 oracle下弃用 -->
	<update id="updateEntity">
		update doufu_today_work
		set product_Id = #{productId},
		work_Contents=#{workContents},
		work_Detail=#{workDetail},
		finish_Percent=#{finishPercent},
		delay_Reason=#{delayReason},
		is_Important=#{isImportant},
		is_Emergency=#{isEmergency},
		update_By=#{updateBy},
		update_Date=#{updateDate}
		where id #{id}
	</update>
	<!-- 修改父节点字符串 oracle下弃用 -->
	<update id="updateOneEntity">
		update doufu_today_work
		set product_Id = #{productId},
		work_Contents=#{workContents},
		work_Detail=#{workDetail},
		finish_Percent=#{finishPercent},
		delay_Reason=#{delayReason},
		is_Important=#{isImportant},
		is_Emergency=#{isEmergency},
		update_By=#{updateBy},
		update_Date=#{updateDate}
		where id = #{id}
	</update>

	<update id="updateBatchEntity">
		<foreach collection="list" item="item" separator=",">
			update doufu_today_work
			<set>
				product_Id = #{item.productId},
				work_Contents=#{item.workContents},
				work_Detail=#{item.workDetail},
				finish_Percent=#{item.finishPercent},
				delay_Reason=#{item.delayReason},
				is_Important=#{item.isImportant},
				is_Emergency=#{item.isEmergency},
				update_By=#{item.updateBy},
				update_Date=#{item.updateDate}
			</set>
			<where>
				id = #{item.id}
			</where>
		</foreach>
	</update>

</mapper>